
html {background: url("../Images/abstract.jpg") fixed 100%;}

body {
  overflow: auto;
}

/*This is the Top Part including nav*/
.topContainer {background-color: #0D0D0D;
				width: 100%;
				opacity: .75;
			}
#visTop {padding-left: 1.5em;
		color: #FFF;}

/*This makes the hover effect have a curved outline*/
.pure-menu-link {border-radius: 40px;}



.whereWeWrite {background-color: #B3B3B3;
				margin-top: 2em;
				padding: 0em .75em;
				border-radius: 2em
				} 
.whereWeWrite > h1 { color:black;
					text-align:center;
					padding-top: 1em; }
.whereWeWrite > p {padding-left: .75em;
					text-indent: 1em;
					line-height: 1.5em;}
/*this div is currently only used in wholesaling.html*/




/*Makes  the ghost div border, centers it, and aligns its text*/
#ghostTop {margin: 8em auto;
			border: 1px solid white;
			color: white;
			max-width: 50%;
			text-align: center;}
											

#invisibleTop {visibility: hidden;}

.mainContainer {margin-top: 50%;
	position: relative;
	background: url("../Images/Mirror.jpg") fixed 100%;
	z-index: 1;
			}



.pure-menu-list {background-color: #191919;
height: 100%;}

.pure-menu-item {text-align:center;}




#footer {background-color: #0D0D0D;
	color: #FFF;
	min-height: 14em;
}



