/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
div > img {background-image: #BEAE96;
          }


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
  
}



  #logo {max-height: 55px;
      position: relative;
      bottom: 20px}
  #call {position: absolute;
    right: 7px;
    z-index: 10;
    font-size: 200%;
    text-shadow: 0 3px 9px red;
    color: white;
    top: 56px;}
  #say {position: absolute;
    left: 4%;
    font-size: 110%;
    z-index: 10;
    text-shadow: 0 3px 9px black;
    color: white;
    top: 43px;}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

  #contactDiv {
    position:relative;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  #contactDiv > a {
    position:relative;
  }
  #dropper {
    border: 3px solid blue;
    position: absolute;
    top: -60%;
    left: 5%;
  }

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
.carousel-caption > p {
  text-shadow: 0px -2px 12px black;
  color: white;
  font-weight: 800;
}
 .carousel-caption > h1 {
  font-size: 300%;
  text-shadow: 0px 3px 3px black;
}


/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */





@media (min-width: 768px) {
  /* Navbar positioning foo */
  
  .navbar-wrapper .container {
    
    width: 100%;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    /*height: 72px;*/
  }
 
  .nav > li > a {line-height: 42px;
    height: 70px;
    }

   #logo {max-height: 74px;
      position: relative;
      }


    #call {position: absolute;
    right: 100px;
    z-index: 10;
    color: white;
    top: 62px;}
    #say {position: absolute;
    left: 11%;
    text-shadow: 0 3px 9px black;
    z-index: 10;
    color: white;
    top: 65px;}

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
   #contactDiv {
    position:relative;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  #contactDiv > a {
    position:relative;
  }
  #dropper {
    border: 3px solid blue;
    position: absolute;
    top: -5%;
    left: 35%;
  }

  


  .featurette-heading {
    font-size: 50px;
  }
  #img1 {position: relative;
        left: 30px;
        top: 110px;}
  #img2{ 
          position:relative;
          top: 40px;
          right: 15px; }
  #img3{
    position:relative;
    left: 30px;
    top: 100px;

    }
  }

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
  .carousel-caption > h1 {
  font-size: 400%;
  text-shadow: 0px 10px 20px black;
}

  .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 650px;
}
}

